@import '../../../mariomakely.scss';

.backimage {
	background-color: #f4f4f4;
	background-image: url("/images/background-4.png");
	background-position: bottom; /*Positioning*/
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.home {
	.main-search {
		max-width: 200px;
		opacity: .8;
		margin: 0;
	}
	.level {
		letter-spacing: 0;
		margin: 10px;
	}
	.blur {
		-webkit-filter: blur(5px);
		filter: blur(5px);
		-webkit-transition: filter ease-in .2s, -webkit-filter ease-in .2s;
		transition: filter ease-in .2s, -webkit-filter ease-in .2s;
	}
	.blur:hover {
		-webkit-filter: blur(0px);
		filter: blur(0px);
	}
	.card-grid {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	.search-link {
		background-color: #FFF;
		border-radius: 5px;
		opacity: .6;
		display: inline-block;
		margin: auto;
		padding: 1em;
		cursor: text;
	}
	.floor-divider {
		width: 100%;
		background-image: url("/images/floor-tile2.png");
		background-repeat: repeat-x;
		height: 50px;
	}

	.user-image {
		position: absolute !important;
		width: 3em !important;
		background-color: white !important;
		border-radius: 3em !important;
		margin: 1em;

	}

	/*Prevent showing multiple background images*/
}