@import '../../../mariomakely.scss';

.home {
	background-color: #f4f4f4;
	background-image: url("/images/pixel-mario-wallpaper-1.jpg");
	background-position: right bottom; /*Positioning*/
	background-attachment: fixed;
	background-repeat: no-repeat;

	.main-search {
		max-width: 200px;
		opacity: .8;
		margin: 0;
	}

	.level {
		letter-spacing: 0;
		margin: 10px;
	}

	.blur {
	  -webkit-filter: blur(5px);
	  filter: blur(5px);
	}
	.blur:hover{
		 -webkit-filter: blur(0px);
	  filter: blur(0px);
	}

	.card-grid{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	/*Prevent showing multiple background images*/
}