<template name="home">

<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">mariomakely</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tour</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
        </ul>
    </div>
</div>




<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Search Mario Levels</h1>
        <p>
        <form class="pure-form">
            <input type="text" class="main-search pure-input-rounded"></form>
        </p>
        <p class="splash-subhead">
            Learn about how mariomakely tagging works.
        </p>

    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Recently uploaded levels</h2>

        <div class="pure-g">
              <div class ="content">
                <div class="user-tags">
                  {{#each userTags}}
                    <button id= "{{this}}" class="tag-tag">
                            {{this}} 
                            <span class=" glyphicon glyphicon-remove"></span>
                    </button>
                  {{/each}}
              </div>
              <div class="main-view">

                <div class ="posts">
                  {{#each levels}}
                    <div class="level">
                      <div class="user-content">
                        <img class="user-image" src="{{user.icon}}"/>
                        <div class="user-name">{{user.name}}</div>
                      </div>
                      <div class="time">{{date}}</div>
                      <img class="level-image" src="{{icon}}"/>
                      <h2 class ="level-name">{{title}}</h2>
                      <h3 class ="level-code">{{code}}</h3>
                      <hr/>
                      <div class= "level-tags">
                        Tags:
                        {{#each tags}}
                          <button class="tag-tag">
                            {{this}}
                          </button>
                        {{/each}}
                      </div>
                    </div>
                  {{/each}}
                  </div>
                </div>
              </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src="img/common/file-icons.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">popular tags</h2>

            <p>
                  {{#each popularTags}}
                    <button id= "{{tag}}" class="tag-tag">
                            {{tag}} 
                    </button>
                  {{/each}}
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <h4>More Information</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
        View the source of this layout to learn more. Made with love by the YUI Team.
    </div>

</div>













</body>
</template>